<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a{
            text-decoration: none;
            background-color:brown;
            padding: 7px;
            color: white;
        }
    </style>
</head>
<body>
    <center>
        <!-- <h1>This is 2nd generic url navigation</h1>
        <a href="{% url 'auto' %}">Click here</a> -->

        <h1>This is 2nd specific url navigation</h1>
        <a href="{% url 'rapido:auto' %}">Click here</a>
    </center>
</body>
</html>